.flex {
  display: flex;
}

.clmn {
  flex-direction: column;
}

.w100-30 {
  width: 30%;
}

.Card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

section {
  width: 100%;
  height: 100vh;
}

article {
  height: 100vh;
  overflow: scroll;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.map {
  height: 100vh;
  width: 100%;
}
